<app-main-navbar></app-main-navbar>
<app-spinning [isLoading]="isLoading"></app-spinning>
<div class="main-section appear">
     <app-top-user-infos [title]="title"></app-top-user-infos>

     <div class="full-div">
          <div class="title">
               <i class="fa-solid fa-vector-square icon"></i>
               <h2>Lista de setores</h2>
          </div>
          <div class="full-div buttons-options">
               <button (click)="orderListAZ('name')" #nameOrderAZ class="search-options"><i class="fa-solid fa-sort button-icon"></i>{{ nameButtonOrderListAZ }}</button>
          </div>

          <app-sectors-table [sectors]="sectors"></app-sectors-table>
     </div>

</div>